a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.bg-header-defualt {
  /*background-image: url('../../../assets/images/bg-title-default.png');*/
}

.bg-header-MyAdequat {
  /*background-image: url('../../../assets/images/bg-title-default.png');*/
}

.bg-header-MyAdsearch {
  /*background-image: url('../../../assets/images/bg-title-myadsearch.png');*/
  background-image: linear-gradient(to bottom, rgba(0,0,0,.1), rgba(0,0,0,0));
  background-size: cover;
}

.bg-header-MySigmar {
 
  background-size: cover;
}
