
<div [@fadeInOut] class="block-center text-center vertical-center-flex">
  <!--<header class="pageHeader">
    <h3><i class="fa fa-info-circle fa-lg page-caption" aria-hidden="true"></i> {{'pageHeader.About' | translate}}</h3>
  </header>-->
    <div class="">
      <h3>Welcome to MyXSpace</h3>
      <p> Multi-brand recruiting environment</p>
    </div>
    <div class="contact-us">
      <h4>Contact us</h4>
      <p><span title="Follow me on twitter" class="fa fa-twitter fa-fw"></span> <a class="black-anchor" target="_blank" href="https://twitter.com/adequat.rf">twitter.com/lana</a></p>
      <p><span title="Drop me a mail" class="fa fa-envelope fa-fw"></span> <a class="black-anchor" href="mailto:adequat@hotmail.com">info@lana-soft.com</a></p>
      <p><span title="Website" class="fa fa-globe fa-fw"></span> <a class="black-anchor" target="_blank" href="https://adequat.fr/contact">adequat.fr</a></p>
    </div>
</div>
